
@{
    ViewBag.Title = "Xác nhận tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h2>@ViewBag.Title.</h2>
    @*<p class="text-info">*@
    <p>
        Thư xác nhận đã được gửi đến địa chỉ @(ViewBag.Email). Vui lòng kiểm tra email và xác nhận tài khoản. Nếu hộp thư đến không có email, vui lòng kiểm tra hộp thư spam.
    </p>
<p>
    Để demo: bấm vào link sau : @ViewBag.Url
</p>