@{
    ViewBag.Title = "360 View " + ViewBag.Name;
}
@*<style>
    .foot {
        margin-top: 0 !important;
    }
</style>
<script type="text/javascript">
    $('.main-block div:first').removeClass('container');
    $('.main-block div:first div:first').removeClass('row');
</script>*@
<div class="row">
    @*<iframe src="https://goo.gl/maps/SiKFUNCzR742" class="col-md-12" height="600" style="border:none" allowfullscreen></iframe>*@
    <iframe width="1200" height="600" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/streetview?location=@ViewBag.Link&key=AIzaSyCsMNEcjaPX0xDDipI-GT9ZPOz4MC8eZdQ" allowfullscreen></iframe>
</div>
